.button-shain {
  position: relative;
  cursor: pointer;

  border: 1px solid $color-primary;
  transition: 0.5s;
  overflow: hidden;

  &:hover {
    background: $bg-accent;
    border: 1px solid $color-secondary;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #ffffff71, transparent);
    transform: translateX(-100%) skew(-20deg);
    transition: transform 0.5s;
  
  }

  &:hover::before {
    transform: translateX(150%);
    transition-delay: 0.3s;
    
  }
}
