#checkout {
  padding: 9.375rem 0;
  position: relative;
}

.checkout-gap {
  display: flex;
  gap:5rem;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.checkout-header {
  text-align: center;

  p {
    font-size: 1.125rem;
    color: #bbbbbb  ;
  }
  h2 {
    font-size: 2.25rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1.875rem;
  }
}
.checkout-infographic {
  overflow: hidden;
  position: relative;
}






