header {
  position: fixed;
  top: 0px;
  padding: 2.075rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: $bg-primary-90;
  z-index: 1;
}

.logotype {
  font-family: "Raleway";
  font-size: 1.75rem;
}
nav {
  height: 100%;

  ul,
  li,
  a {
    height: 100%;
  }
}
nav ul {
  display: flex;
  gap: 3.75rem;
  font-size: 0.8125rem;
  font-weight: 600;
  text-transform: uppercase;

  li {
    &:hover {
      color: $color-accent;
    }
  }
}

.burger {
  position: relative;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background: transparent;
  visibility: hidden;

  &:after,
  &:before {
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background: var(--bg-secondary);
  }

  &:before {
    top: 7px;
  }
  &::after {
    bottom: 7px;
  }
}

.active.burger:before {
  top: 50%;
  left: 50%;
  transform: translate(-50%) rotate(-45deg);
}

.active.burger:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
}

@media (max-width: 1024px) {
  .burger {
    visibility: visible;
    z-index: 1;
  }
  nav {
    position: absolute;
    width: 0;
    height: 100vh;
    left: 0;
    top: 6.25rem;
    transform: translateX(2000px);
    transition: 0.2s;
  }
  .burger.active ~ nav {
    position: absolute;
    background: $bg-primary-90;
    top: 6.25rem;
    left: 0;
    height: 100vh;
    width: 100%;
    transform: translateX(0);

    ul {
      position: relative;
      height: 100%;
      overflow: scroll;
      flex-direction: column;
      align-items: center;
      padding: 0px 2rem;
    }

    li {
      height: auto;
    }
  }
}

@media (max-width: 768px) {
  html {
    font-size: 0.85rem;
  }
}
@media (max-width: 460px) {
  html {
    font-size: 0.75rem;
  }
}
