 //===================================================== 
 //                 ПОДКЛЮЧАЕМ ROOT ПЕРЕМЕННЫЕ                                    
 //===================================================== 
 @import './root_dark';

//=====================================================
//                ОСНОВНЫЕ SCSS ПЕРЕМЕННЫЕ
//=====================================================
$color-basic                 : var(--color-basic);

$color-primary               :var(color-primary);
$color-primary-90            :var(--color-primary-90);

$color-secondary             :var(--color-secondary);

$color-accent                :var(--color-accent );

$bg-basic                    :var(--bg-basic);

$bg-primary                  :var(--bg-primary);
$bg-primary-90               :var(--bg-primary-90);

$bg-secondary                :var(--bg-secondary);

$bg-accent                   :var(--bg-accent);
